.env
**/.env
!.env.example
!**/.env.example

node_modules/
**/node_modules/
dist/
**/dist/
*.tsbuildinfo
**/*.tsbuildinfo
.pnpm-store/
**/.pnpm-store/
*.log
**/*.log
coverage/
**/coverage/
.DS_Store
*.go